.form-container  {
    width: 450px;
    margin: 0 auto;
    padding: 1rem;
}


form input {
    width: 100%;
    padding: .2rem .4rem;
    margin: .5rem 0;
}

form button:nth-child(2) {
    margin: 0 .5rem;
}